<h1>Top page111</h1>
<%= link_to '新規投稿開始', '/posts/new' %>
<%= @posts.each do |post| %>
  <div class="post">
    <div class="post-date">
      日時投稿:<%= post.created_at %>
    </div>
    <div class="post-content">
      <%= post.content %>
    </div>
  </div>
<% end %>

